@page
@model WebVeriAlma.Pages.Shared.DuzenleGoruntuleModel
@{
     Layout = "/Pages/Shared/_LayoutAdmin.cshtml";

}

<br />


@*@if (Model.errorMessage.Length > 0)
    {
    <div class='alert alert-warning alert-dismissible fade show' role='alert'>
    <strong>@Model.errorMessage</strong>
    <button type ='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
    </div>
    }*@

<div class="center">
<h3> Veriyi Düzenle</h3>
    <form method="POST">

        <input type="hidden" name="id" value="@Model.urlInfo.id" />

        <div class="txt_field">

            <input type="text" class="form-control" name="name" value="@Model.urlInfo.name" required>
            <label>İSİM</label>

        </div>

        <div class="txt_field">

            <input type="text" class="form-control" name="htmlVeri" value="@Model.urlInfo.htmlVeri" required>
            <label>VERİ</label>

        </div>

    


        <div class="row mb-3">
            <div class="offset-sm-3 col-sm-3 d-grid">

                <button type="submit" class="btn btn-primary">Tamam</button>
            </div>

            <div class="col-sm-3 d-grid">
                <a class="btn btn-outline-primary" href="/Shared/Goruntule" role="button">Kapat</a>
            </div>
        </div>
    </form>
</div>